<h3>Summary of Your Order </h3>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 100px">Image</th>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
      <tr>
        <td><%= image_tag item.product.image.tiny.url %></td>
        <td><%= item.product.name %></td>
        <td><%= humanized_money_with_symbol item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= humanized_money_with_symbol item.total_price %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">TOTAL:</th>
        <th><%= humanized_money_with_symbol @order.total_cents / 100.0 %></th>
      </tr>
    </tfoot>
  </table>
</div>